.section1 {
  background-image: url(./images/Ellipse\ 11.png), url(./images/Rectangle\ 4.png),url(./images/Rectangle\ 5.png),
  url(./images/Ellipse\ 5.png),url(./images/Ellipse\ 3.png),url(./images/Ellipse\ 12.png),
  url(./images/Ellipse\ 13.png),url(./images/Rectangle\ 5.png);
  background-position: left top,left top, center top, center top, right top,bottom left,
  bottom left,bottom right,bottom right;
  background-repeat: no-repeat;
  background-size: 10%, 10%,10%, 10%,10%, 10%,10%, 10%,10%, 10%;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  margin-right: auto;
  align-items: center;
  color: #6070ff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.social {
  list-style-type: none;
  display: inline-block;
  width: 100%;
}

.social  li {
  display: inline;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  color: #344563;
}

header {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

h1 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.icon {
  height: 5%;
}

p {
  color: #344563;
}

header p {
  max-width: 50%;
}

header img {
  max-width: 10%;
}

header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

@media screen and (min-width: 600px) {
  nav .menu {
    display: none;
  }
}

@media only screen and (max-width: 600px) {

.menu {
    display: flex;
    align-items: flex-end;
    /* padding: 25px; */
    justify-content: flex-end;
    width:100%;
  }

  nav ul {
    display: none;
  }

  .imgorder {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    max-width: 100%;
    height: auto;
  }
}


